.user-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: rgb(228, 228, 228);
}

.user-content {
  width: 90%;
  position: sticky;
  top: 7.5rem;
  left: 25%;
  height: 100%;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 40px;
  border-radius: 30px;
  /* border: 1px solid black; */
  background-color: white;
}

.user-btn-add {
  width: 30px;
  height: 30px;
  margin-left: 37px;
  border-radius: 50%;
  padding: 5px;

  &:hover {
    background-color: rgb(217, 217, 217);
  }
}

.table-all-user {
  margin-top: 10px;
  overflow-y: auto;
}
