.other-product-container {
  width: 90%;
  height: 85%;
  display: flex;
  position: sticky;
  top: 5.5rem;
  left: 25%;
  flex-direction: column;
  padding: 20px;
  border-radius: 40px;
  border: 1px solid black;
}

.other-product-btn-add {
  width: 30px;
  height: 30px;
  margin-left: 37px;
  border-radius: 50%;
  padding: 5px;
  &:hover {
    background-color: rgb(217, 217, 217);
  }
}

.other-product-list-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 216, 216);
}

.other-product-header {
  width: 100%;
  height: 5%;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
}

/* Thiết lập các kiểu CSS cho danh sách phim */
.other-product-list {
  max-height: 95%;
  overflow-y: auto;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 10px;
  margin-top: 10px;
  /* Khoảng cách giữa các bộ phim */
}

/* Thiết lập kiểu CSS cho mỗi thẻ bộ phim */
.other-product-card {
  width: calc(48% - 20px);
  display: flex;
  flex-direction: row;
  /* Độ rộng 50% và trừ đi khoảng cách giữa các bộ phim */
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  &:hover {
    cursor: pointer;
  }
}

/* Thiết lập kiểu CSS cho hình ảnh bộ phim */
.other-product-card img {
  /* max-width: 550px; */
  height: 250px;
  /* display: block; */
  margin: 0 auto;
}

/* Thiết lập kiểu CSS cho các chi tiết bộ phim */
.other-product-details {
  width: 70%;
  height: 80%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 20px;
}

/* Thiết lập kiểu CSS cho tiêu đề của bộ phim */
.other-product-details h2 {
  font-size: 18px;
  margin: 0;
}

/* Thiết lập kiểu CSS cho các thông tin bộ phim khác */
.other-product-details p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
